docker.runOptions= '-u $(id -u):$(id -g)'
docker.enabled = true
process {
    withLabel: 'MULTIQC'
        {container='ewels/multiqc:latest'
        cpus = 2
        memory = '2 GB'
        }
    withLabel:'FASTQC'
        {container='staphb/fastqc:0.11.9'
        cpus = 2
        memory ='2 GB'
    }
}









