docker.runOptions= '-u $(id -u):$(id -g)'
docker.enabled = true
process {
    withLabel: 'MULTIQC'
        {container='ewels/multiqc:latest'
        cpus = 4
        memory = '2 GB'
        }
    withLabel:'FASTQC'
        {container='staphb/fastqc:0.11.9'
        cpus = 4
        memory ='2 GB'
    }
}

params {
    
    //demux params:
    projectDir = '.'
    oligos_file_path = ''  
    oligos_file = ''  
    indexes_file = '$projectDir/data/*.fasta'  
    extension = ''  
    error_rate = ''  
    search_window = ''  
    no_indels = false // Set default to false
    minlen = 32  
    overlap = 8 
    multiqc = "$projectDir/multiqc"
    reads = "$projectDir/data/*_{1,2}.fq"
    min_seq_length = 32
    min_overlap = 21
    mismatch = 1
    no_indels = true
    seqs_to_keep = 'keep_all'
    discard_untrimmed = true
    output_dir = 'results'
    cpus = 4
    memory = 2
    forward_primer = "TGCAGGNTGGCAG"
    reverse_primer = "GACGGTNGGACGT"
}







